*.sql
*.swp
*.*~
doc/modelagem.mwb.bak
doc/funcional/*.log
doc/funcional/*.*.log
doc/funcional/*.aux
doc/funcional/*.*.make
doc/funcional/*.d
doc/funcional/*.fls
doc/funcional/*.idx
doc/funcional/*.lof
doc/funcional/*.lot
doc/funcional/*.out
doc/funcional/*.toc
doc/funcional/*.*.make.*
log/*.log
tmp/**/*
config/database.yml
config/site_config.yml
config/newrelic.yml
db/*.sqlite3
db/*.sqlite3-journal
db/schema.rb
.DS_Store
Gemfile.lock
doc/modelagem.mwb.bak
public/system/*
public/assets/*
public/ckeditor_assets/*
._.DS_Store
.*.*
